
node_modules/
website/node_modules/


website/dist/
website/.astro/
website/.netlify/
website/.vercel/
website/.vscode/

.env
.env.*
!.env.example


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/


.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*~