div{
    width: 25%;
    min-width: 200px;
    height: 200px;
    background-color: blue;
}
div:nth-child(2n-1){
    background-color: red;
}

section{
    margin: 24px 0;
}

.float{
    display: flow-root;
}
.float div{
    float: left;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.grid{
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 200px 200px 200px;
}