*{
    font-family: Cambria;
}

body{
    background-color: linen;
}
aside, header, footer{
    background-color: steelblue;
    color: white;
    text-align: center;
}
aside{
    width: 25%;
    height: 510px;
    margin: 0 1%;
    box-shadow: 4px 4px 5px dimgray;
}
header{
    width: 73%;
    height: 80px;
}
main{
    width: 73%;
    height: 400px;
}

button{
    background: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}
button:hover{
    background: navy;
}

#blok1, #blok2, #blok3{
    background: lightblue;
    margin-right: 80px;
    padding: 10px;
    display: none;
}

#blok1{
    display: block;
}
#pasek_postepu{
    background: lightgray;
    width: 73%;
    margin-bottom:10px;
    float: left;
}
#pasek{
    background: navy;
    width: 4%;
    height: 30px;
}
table{
    width: 100%;
    border: dotted 1px navy
} 
aside, main, header{
    float: left;
}

footer{
    clear: both;
}